<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>Add New Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=put" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid title.
              </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description  %></textarea>
            <div class="invalid-feedback">
                Please enter a valid description.
              </div>
        </div>

        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= originalImageUrl %>">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a valid price.
                  </div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a valid country.
                  </div>
            </div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-6">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid location.
              </div>
        </div>

        <div class="mb-3 col-md-6">
            <!-- <label for="category" class="form-label">Category</label>
                <input type="text" name="listing[category]" placeholder="Enter category" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a valid category.
                </div> -->
                <label for="category" class="form-label">Category</label>
              <select  name="listing[category]" class="form-select" aria-label="Default select example" value="<%=listing.category%>" required>
                <option disabled>Select Category</option>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="Beach">Beach</option>
                <option value="Boats">Boats</option>
              </select>
        </div>
    </div>

        <button class="btn btn-dark edit mb-3">Add</button>
    </form>
    
</body>
</div>
    </div>